<h1>If you would like to delete your project <%= @project.title %> please do so here</h1>

<form action="/projects/<%= @project.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="title">Edit Project</label>
  <input id="title" name="title" type="text" required>
  <button type="submit">Update Project</button>
</form>

<form action="/projects/<%= @project.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete Project</button>
</form>

<p><a href="/projects">Return to project list</a></p>