<form action="/projects/<%= @project.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="title">Edit Project</label>
  <input id="title" name="title" type="text" required>
  <button type="submit">Update Project</button>
</form>