<h1>If you would like to edit your name please do so here</h1>

<form action="/projects/<%= @project.id() %>/volunteers/<%= @volunteer.id %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Edit Name</label>
  <input id="name" name="name" type="text" required>
  <button type="submit">Update Volunteer</button>
</form>

<form action="/projects/<%= @project.id() %>/volunteers/<%= @volunteer.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete a volunteer</button>
</form>

<p><a href="/projects">Return to project list</a></p>