<h1>If you would like to edit your project please do so here</h1>
<h4>Update Project</h4>

<a href="/projects/<%= @project.id() %>/edit">Edit Project</a>

<% if @volunteers.any? %>
  <ul>
    <% @volunteers.each do |volunteer| %>
      <li><a href="/volunteers/<%= volunteer.id %>"><%= volunteer.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no volunteers to display.</p>
<% end %>
